.AddPostPage {
  width: 100%;
  min-height: 100vh;
  display: grid;
  grid-template-rows: 50px auto;
  align-items: center;
  background-color: #1f2430;
  color: #dee3ea;
  font-family: "Noto Sans KR", sans-serif;
}
.SnippetContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}
.ShowPreview {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.ShowPreviewButton {
  margin: 15px;
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.Subbmitting {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top:-400px
}
.Subbmitting img {
  width: 90px;
}
